:root {
  font-size: 16px;
  margin: 0rem;
  --bkg: red;
  --txt: black;
  --color-high: rgb(233, 156, 14);
  --color-low: rgb(245, 245, 99);
  --silent: white;
  --pulse: 3s;
  --txt-small: 0.5rem;
  --txt-big: 0.7rem;
}

@media (min-width: 20em) {
  section {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 30em) {
  section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (min-width: 50em) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 60em) {
  section {
    grid-template-columns: repeat(4, 1fr);
  }
}

.silent {
  filter: blur(2);
  background-color: var(--silent);
}

.active {
  filter: blur(0);
  animation: active var(--pulse) ease-in-out infinite alternate;
}

@keyframes active {
  from {
    /* scale: 0.5;
    filter: blur(0); */
    border-radius: 0.3rem;
    background-color: var(--color-low);
    text-shadow: 0 0 72px var(--txt);
    color: transparent;
    font-size: var(--txt-small);
  }
  to {
    /* scale: 1.5;
    filter: blur(15); */
    border-radius: 1rem;
    background-color: var(--color-high);
    text-shadow: 0;
    color: var(--txt);
    font-size: var(--txt-big);
  }
}

body {
  background: #fdfdfd;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

section {
  background-color: var(--bkg);
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;

  gap: 1rem;

  width: 100%;
  /* height: 500px; */
}

figure {
  margin: 0.5rem;
  min-height: 4rem;

  background-color: var(--color-high);
  border-radius: 1rem;
  padding-left: 1rem;

  animation: active var(--pulse) ease-in-out infinite alternate;
}

output {
  margin: 0;
  padding: 0.1rem;
  display: block;
  box-sizing: border-box;
}
