:root{
  --test-color: red;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  svg {
    filter: blur(0px);
  }


  div {
    border: solid red 1px;
    filter: blur(0px);
    width: 80vw;
    margin-left: 10vw;
    background-color: burlywood;
    border-radius: 10px;
    height: 200;
  }

  body {
    background: #fdfdfd;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
  }

  main {
    max-width: 900px;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin-right: 1rem;
  }

  h1 {
    color: #e74c3c;
    margin-bottom: 0.5rem;
  }

  .c {
    background-color: var(--test-color);
    width: 50%;
  }


  g {

  }